<div class="">
	<div class="tenpx">
		<h2>Изменить пользователя</h2>
	</div>
	<div class="bigFont tenpx">
		<div class="tenpx">Изменить имя</div>
		<input class="input1" type="text" ng-model="user.name" placeholder="Name">
	</div>
	<div class="bigFont tenpx">
		<div class="tenpx">Изменить фамилию</div>
		<input class="input1" type="text" ng-model="user.surname" placeholder="Surname">
	</div>
	<div class="bigFont tenpx">
		<div class="tenpx">Изменить отчество</div>
		<input class="input1" type="text" ng-model="user.patronymic" placeholder="Patronymic">
	</div>
	<div class="bigFont tenpx">
		<div class="tenpx">Выберите пол
		    <input type="radio" ng-model="user.gender" value="male">
		    <label>Male</label>
		    <input type="radio" ng-model="user.gender" value="female">
		    <label>Female</label>
	    </div>
	</div>	
	<div class="bigFont tenpx">
		<div class="tenpx">Укажите ссылку на фото</div>
		<input class="input1" type="text" ng-model="user.photo" placeholder="Photo">
	</div>
	<div class="bigFont tenpx">
		<div class="tenpx">Выберите должность</div>
		<div class="">
		  <select ng-model="user.position" class="input1">
		    <option value="секретарь">Секретарь</option>
		    <option value="начальник">Начальник</option>
		    <option value="администратор">Администратор</option>
		    <option value="директор">Директор</option>
		    <option value="работник">Работник</option>
		  </select>
		</div>
	</div>
	<div class="bigFont tenpx">
		<div class="tenpx">Выберите подразделение</div>
		<div class="">
		  <select ng-model="user.subdivision" class="input1">
		    <option value="Департамент управления персоналом">Департамент управления персоналом</option>
		    <option value="Департамент управления рисками">Департамент управления рисками</option>
		  </select>
		</div>
	</div>
	<div class="bigFont tenpx">
		<div class="tenpx">Укажите доступы</div>
		<div class="" ng-repeat="access in user.accesses">
		    <input type="checkbox" value="{{access}}" ng-click="setAccess(access)" checked>
		    <label for="createDeposite">{{access}}</label>
		</div>
	</div>
	<div class="tenpx">
		<button class="but4 btn btn-primary tenpx" ng-click="updateUser()">Изменить пользователя</button>
		<a class="btn btn-danger tenpx" href="/">Отмена</a>
	</div>
</div>